<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header-nav">
        <ul class="main-header-item-list">
          <li class="main-header-item"><a href="/">shop</a></li>
          <li class="main-header-item">
            <a href="/admin/add-product">add-product</a>
          </li>
          <li class="main-header-item">
            <a class="active" href="/contactUs">contact -us</a>
          </li>
        </ul>
      </nav>
    </header>
    <form action="/contactUs" method="POST">
      <div class="contactUs-header">
        <h1>Book a call</h1>
      </div>
      <div class="contact-form">
        <label for="name">Name :</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Enter Your name"
        />
        <br /><br />
        <label for="emailId">Email Id :</label>
        <input
          type="email"
          name="email"
          id="emailId"
          placeholder="Enter your email"
        />
        <br /><br />
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
</html>
