.product-form {
  width: 30rem;
  max-width: 90%;
  margin: auto;
}
.form-control {
  margin: 1rem 0;
}
.form-control label,
.form-control input {
  display: block;
  width: 100%;
}
.form-control input {
  border: 1px solid red;
  font: inherit;
  border-radius: 2px;
}
button {
  font: inherit;
  border: 1px solid black;
  color: black;
  background: rgb(205, 74, 74);
  border-radius: 3px;
  cursor: pointer;
}
button:hover,
button:active {
  color: rgb(226, 214, 240);
  background-color: purple;
}
